<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywq.ti.dao.AppWalletTagMapper">

  <resultMap id="BaseResultMap" type="com.ywq.ti.entity.AppWalletTag">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="wallet" jdbcType="VARCHAR" property="wallet" />
    <result column="tag" jdbcType="VARCHAR" property="tag" />
  </resultMap>

  <select id="selectTag" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select * from app_wallet_tag
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <select id="selectTagList" parameterType="com.ywq.ti.entity.AppWalletTag" resultMap="BaseResultMap">
    select * from app_wallet_tag
    where 1=1
    <trim prefix=" and (" suffix=")" suffixOverrides="and">
      <if test="userId != null">user_id = #{userId,jdbcType=BIGINT} and </if>
      <if test="wallet != null">wallet = #{wallet,jdbcType=VARCHAR} and </if>
      <if test="tag != null">tag = #{tag,jdbcType=VARCHAR} and </if>
	</trim>
  </select>
  
  <select id="totalTags" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from app_wallet_tag
    where 1=1
    <trim prefix=" and (" suffix=")" suffixOverrides="and">
      <if test="userId != null">user_id = #{userId,jdbcType=BIGINT} and </if>
      <if test="wallet != null">wallet = #{wallet,jdbcType=VARCHAR} and </if>
      <if test="tag != null">tag = #{tag,jdbcType=VARCHAR} and </if>
	</trim>
  </select>
  
  <select id="selectTagListPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from app_wallet_tag
    where 1=1
    <trim prefix=" and (" suffix=")" suffixOverrides="and">
      <if test="userId != null">user_id = #{userId,jdbcType=BIGINT} and </if>
      <if test="wallet != null">wallet = #{wallet,jdbcType=VARCHAR} and </if>
      <if test="tag != null">tag = #{tag,jdbcType=VARCHAR} and </if>
	</trim>
	limit #{start},#{pageSize}
  </select>
  
  <delete id="deleteTag" parameterType="java.lang.Long">
    delete from app_wallet_tag
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insertTag" parameterType="com.ywq.ti.entity.AppWalletTag">
    insert into app_wallet_tag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">user_id,</if>
      <if test="wallet != null">wallet,</if>
      <if test="tag != null">tag,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">#{userId,jdbcType=BIGINT},</if>
      <if test="wallet != null">#{wallet,jdbcType=VARCHAR},</if>
      <if test="tag != null">#{tag,jdbcType=VARCHAR},</if>
    </trim>
  </insert>
  
  <update id="updateTag" parameterType="com.ywq.ti.entity.AppWalletTag">
    update app_wallet_tag
    <set>
      <if test="userId != null">user_id = #{userId,jdbcType=BIGINT},</if>
      <if test="wallet != null">wallet = #{wallet,jdbcType=VARCHAR},</if>
      <if test="tag != null">tag = #{tag,jdbcType=VARCHAR},</if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
</mapper>