<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywq.ti.dao.BcErc20TransactionMapper">
  
  <resultMap id="BaseResultMap" type="com.ywq.ti.entity.BcErc20Transaction">
    <id column="tx_hash" jdbcType="VARCHAR" property="txHash" />
    <result column="token_address" jdbcType="VARCHAR" property="tokenAddress" />
    <result column="block_hash" jdbcType="VARCHAR" property="blockHash" />
    <result column="block_number" jdbcType="BIGINT" property="blockNumber" />
    <result column="gas" jdbcType="BIGINT" property="gas" />
    <result column="gas_price" jdbcType="BIGINT" property="gasPrice" />
    <result column="send_address" jdbcType="VARCHAR" property="sendAddress" />
    <result column="receive_address" jdbcType="VARCHAR" property="receiveAddress" />
    <result column="value" jdbcType="BIGINT" property="value" />
    <result column="timestamp" jdbcType="TIMESTAMP" property="timestamp" />
  </resultMap>

  <select id="selectErc20Transaction" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from bc_erc20_transaction
    where tx_hash = #{txHash,jdbcType=VARCHAR}
  </select>
  
  <select id="selectErc20TransactionList" parameterType="com.ywq.ti.entity.BcErc20Transaction" resultMap="BaseResultMap">
    select * from bc_erc20_transaction
    where 1==1
    <trim prefix=" and (" suffix=")" suffixOverrides="and">
      <if test="tokenAddress != null">token_address = #{tokenAddress,jdbcType=VARCHAR} and </if>
      <if test="blockHash != null">block_hash = #{blockHash,jdbcType=VARCHAR} and </if>
      <if test="blockNumber != null">block_number = #{blockNumber,jdbcType=BIGINT} and </if>
      <if test="gas != null">gas = #{gas,jdbcType=BIGINT} and </if>
      <if test="gasPrice != null">gas_price = #{gasPrice,jdbcType=BIGINT} and </if>
      <if test="sendAddress != null">send_address = #{sendAddress,jdbcType=VARCHAR} and </if>
      <if test="receiveAddress != null">receive_address = #{receiveAddress,jdbcType=VARCHAR} and </if>
      <if test="value != null">value = #{value,jdbcType=BIGINT} and </if>
      <if test="timestamp != null">timestamp = #{timestamp,jdbcType=TIMESTAMP} and </if>
	</trim>
  </select>
  
  <select id="totalErc20Transactions" parameterType="java.util.Map" resultType="java.lang.Long">
    select count(*) from bc_erc20_transaction
    where 1==1
    <trim prefix=" and (" suffix=")" suffixOverrides="and">
      <if test="tokenAddress != null">token_address = #{tokenAddress,jdbcType=VARCHAR} and </if>
      <if test="blockHash != null">block_hash = #{blockHash,jdbcType=VARCHAR} and </if>
      <if test="blockNumber != null">block_number = #{blockNumber,jdbcType=BIGINT} and </if>
      <if test="gas != null">gas = #{gas,jdbcType=BIGINT} and </if>
      <if test="gasPrice != null">gas_price = #{gasPrice,jdbcType=BIGINT} and </if>
      <if test="sendAddress != null">send_address = #{sendAddress,jdbcType=VARCHAR} and </if>
      <if test="receiveAddress != null">receive_address = #{receiveAddress,jdbcType=VARCHAR} and </if>
      <if test="value != null">value = #{value,jdbcType=BIGINT} and </if>
      <if test="timestamp != null">timestamp = #{timestamp,jdbcType=TIMESTAMP} and </if>
	</trim>
  </select>
  
  <select id="selectErc20TransactionListPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from bc_erc20_transaction
    where 1==1
    <trim prefix=" and (" suffix=")" suffixOverrides="and">
      <if test="tokenAddress != null">token_address = #{tokenAddress,jdbcType=VARCHAR} and </if>
      <if test="blockHash != null">block_hash = #{blockHash,jdbcType=VARCHAR} and </if>
      <if test="blockNumber != null">block_number = #{blockNumber,jdbcType=BIGINT} and </if>
      <if test="gas != null">gas = #{gas,jdbcType=BIGINT} and </if>
      <if test="gasPrice != null">gas_price = #{gasPrice,jdbcType=BIGINT} and </if>
      <if test="sendAddress != null">send_address = #{sendAddress,jdbcType=VARCHAR} and </if>
      <if test="receiveAddress != null">receive_address = #{receiveAddress,jdbcType=VARCHAR} and </if>
      <if test="value != null">value = #{value,jdbcType=BIGINT} and </if>
      <if test="timestamp != null">timestamp = #{timestamp,jdbcType=TIMESTAMP} and </if>
	</trim>
	limit #{start},#{pageSize}
  </select>
  
  <insert id="insertErc20Transaction" parameterType="com.ywq.ti.entity.BcErc20Transaction">
    insert into bc_erc20_transaction 
    	(tx_hash, token_address, block_hash, block_number, gas, gas_price, send_address, receive_address, value, timestamp)
    values 
    	(#{txHash,jdbcType=VARCHAR}, #{tokenAddress,jdbcType=VARCHAR}, #{blockHash,jdbcType=VARCHAR}, #{blockNumber,jdbcType=BIGINT}, #{gas,jdbcType=BIGINT}, #{gasPrice,jdbcType=BIGINT}, #{sendAddress,jdbcType=VARCHAR}, #{receiveAddress,jdbcType=VARCHAR}, #{value,jdbcType=BIGINT}, #{timestamp,jdbcType=TIMESTAMP})
  </insert>
  
  <insert id="insertErc20TransactionBatch" useGeneratedKeys="false" keyProperty="txHash" parameterType="java.util.List">
    insert into bc_erc20_transaction 
    	(tx_hash, token_address, block_hash, block_number, gas, gas_price, send_address, receive_address, value, timestamp)
    values  
	  <foreach collection="list" item="item" index="index" separator="," >  
	      (#{item.txHash,jdbcType=VARCHAR}, #{item.tokenAddress,jdbcType=VARCHAR}, #{item.blockHash,jdbcType=VARCHAR}, #{item.blockNumber,jdbcType=BIGINT}, #{item.gas,jdbcType=BIGINT}, #{item.gasPrice,jdbcType=BIGINT}, #{item.sendAddress,jdbcType=VARCHAR}, #{item.receiveAddress,jdbcType=VARCHAR}, #{item.value,jdbcType=BIGINT}, #{item.timestamp,jdbcType=TIMESTAMP})
	  </foreach>  
  </insert>
  
</mapper>