<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywq.ti.dao.BcTransactionMapper">

  <resultMap id="BaseResultMap" type="com.ywq.ti.entity.BcTransaction">
    <id column="hash" jdbcType="VARCHAR" property="hash" />
    <result column="block_hash" jdbcType="VARCHAR" property="blockHash" />
    <result column="block_number" jdbcType="BIGINT" property="blockNumber" />
    <result column="gas" jdbcType="BIGINT" property="gas" />
    <result column="gas_price" jdbcType="BIGINT" property="gasPrice" />
    <result column="send_address" jdbcType="VARCHAR" property="sendAddress" />
    <result column="receive_address" jdbcType="VARCHAR" property="receiveAddress" />
    <result column="value" jdbcType="BIGINT" property="value" />
    <result column="data" jdbcType="VARCHAR" property="data" />
    <result column="timestamp" jdbcType="TIMESTAMP" property="timestamp" />
    <result column="tx_type" jdbcType="VARCHAR" property="txType" />
  </resultMap>

  <select id="selectTransaction" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from bc_transaction
    where hash = #{hash,jdbcType=VARCHAR}
  </select>
  
  <select id="selectTransactionList" parameterType="com.ywq.ti.entity.BcTransaction" resultMap="BaseResultMap">
    select * from bc_transaction
    where 1=1
    <trim prefix=" and (" suffix=")" suffixOverrides="and">
      <if test="blockHash != null">block_hash = #{blockHash,jdbcType=VARCHAR} and </if>
      <if test="blockNumber != null">block_number = #{blockNumber,jdbcType=BIGINT} and </if>
      <if test="gas != null">gas = #{gas,jdbcType=BIGINT} and </if>
      <if test="gasPrice != null">gas_price = #{gasPrice,jdbcType=BIGINT} and </if>
      <if test="sendAddress != null">send_address = #{sendAddress,jdbcType=VARCHAR} and </if>
      <if test="receiveAddress != null">receive_address = #{receiveAddress,jdbcType=VARCHAR} and </if>
      <if test="value != null">value = #{value,jdbcType=BIGINT} and </if>
      <if test="data != null">data = #{data,jdbcType=VARCHAR} and </if>
      <if test="timestamp != null">timestamp = #{timestamp,jdbcType=TIMESTAMP} and </if>
      <if test="txType != null">tx_type = #{txType,jdbcType=VARCHAR} and </if>
	</trim>
  </select>
  
  <select id="totalTransactions" parameterType="java.util.Map" resultType="java.lang.Long">
    select count(*) from bc_transaction
    where 1=1
    <trim prefix=" and (" suffix=")" suffixOverrides="and">
      <if test="blockHash != null">block_hash = #{blockHash,jdbcType=VARCHAR} and </if>
      <if test="blockNumber != null">block_number = #{blockNumber,jdbcType=BIGINT} and </if>
      <if test="gas != null">gas = #{gas,jdbcType=BIGINT} and </if>
      <if test="gasPrice != null">gas_price = #{gasPrice,jdbcType=BIGINT} and </if>
      <if test="sendAddress != null">send_address = #{sendAddress,jdbcType=VARCHAR} and </if>
      <if test="receiveAddress != null">receive_address = #{receiveAddress,jdbcType=VARCHAR} and </if>
      <if test="value != null">value = #{value,jdbcType=BIGINT} and </if>
      <if test="data != null">data = #{data,jdbcType=VARCHAR} and </if>
      <if test="timestamp != null">timestamp = #{timestamp,jdbcType=TIMESTAMP} and </if>
      <if test="txType != null">tx_type = #{txType,jdbcType=VARCHAR} and </if>
	</trim>
  </select>
  
  <select id="selectTransactionListPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    select * from bc_transaction
    where 1=1
    <trim prefix=" and (" suffix=")" suffixOverrides="and">
      <if test="blockHash != null">block_hash = #{blockHash,jdbcType=VARCHAR} and </if>
      <if test="blockNumber != null">block_number = #{blockNumber,jdbcType=BIGINT} and </if>
      <if test="gas != null">gas = #{gas,jdbcType=BIGINT} and </if>
      <if test="gasPrice != null">gas_price = #{gasPrice,jdbcType=BIGINT} and </if>
      <if test="sendAddress != null">send_address = #{sendAddress,jdbcType=VARCHAR} and </if>
      <if test="receiveAddress != null">receive_address = #{receiveAddress,jdbcType=VARCHAR} and </if>
      <if test="value != null">value = #{value,jdbcType=BIGINT} and </if>
      <if test="data != null">data = #{data,jdbcType=VARCHAR} and </if>
      <if test="timestamp != null">timestamp = #{timestamp,jdbcType=TIMESTAMP} and </if>
      <if test="txType != null">tx_type = #{txType,jdbcType=VARCHAR} and </if>
	</trim>
	limit #{start},#{pageSize}
  </select>
  
  <select id="selectTransactionListPageRaw" parameterType="java.util.Map" resultType="java.util.Map">
    SELECT
		bc_transaction.hash,
		'ETH' AS `name`,
		'ETH' AS symbol,
		18 AS decimals,
		bc_transaction.send_address AS `from`,
		bc_transaction.receive_address AS `to`,
		bc_transaction.`value`,
		bc_transaction.`timestamp`
	FROM
		bc_transaction
    where 1=1 and bc_transaction.`value` != '0'
    <trim prefix=" and (" suffix=")" suffixOverrides="and">
      <if test="blockHash != null">block_hash = #{blockHash,jdbcType=VARCHAR} and </if>
      <if test="blockNumber != null">block_number = #{blockNumber,jdbcType=BIGINT} and </if>
      <if test="gas != null">gas = #{gas,jdbcType=BIGINT} and </if>
      <if test="gasPrice != null">gas_price = #{gasPrice,jdbcType=BIGINT} and </if>
      <if test="sendAddress != null">send_address = #{sendAddress,jdbcType=VARCHAR} and </if>
      <if test="receiveAddress != null">receive_address = #{receiveAddress,jdbcType=VARCHAR} and </if>
      <if test="value != null">value = #{value,jdbcType=BIGINT} and </if>
      <if test="data != null">data = #{data,jdbcType=VARCHAR} and </if>
      <if test="timestamp != null">timestamp = #{timestamp,jdbcType=TIMESTAMP} and </if>
      <if test="txType != null">tx_type = #{txType,jdbcType=VARCHAR} and </if>
	</trim>
	limit #{start},#{pageSize}
  </select>
  
  <select id="selectMaxTransaction" resultType="java.lang.Long">
    SELECT ifnull( max(id), 0) FROM bc_transaction;
  </select>
  
  <insert id="insertTransaction" parameterType="com.ywq.ti.entity.BcTransaction">
    insert into bc_transaction 
    	(hash, block_hash, block_number,gas, gas_price, send_address, receive_address, value, data, timestamp, tx_type)
    values 
    	(#{hash,jdbcType=VARCHAR}, #{blockHash,jdbcType=VARCHAR}, #{blockNumber,jdbcType=BIGINT},#{gas,jdbcType=BIGINT}, #{gasPrice,jdbcType=BIGINT}, #{sendAddress,jdbcType=VARCHAR}, #{receiveAddress,jdbcType=VARCHAR}, #{value,jdbcType=BIGINT}, #{data,jdbcType=VARCHAR},#{timestamp,jdbcType=TIMESTAMP}, #{txType,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertTransactionBatch" useGeneratedKeys="false" keyProperty="hash" parameterType="java.util.List">
    insert into bc_transaction 
	  	(hash, block_hash, block_number,gas, gas_price, send_address, receive_address, value, data, timestamp, tx_type)
	  values  
	  <foreach collection="list" item="item" index="index" separator="," >  
	      (#{item.hash,jdbcType=VARCHAR}, #{item.blockHash,jdbcType=VARCHAR}, #{item.blockNumber,jdbcType=BIGINT},#{item.gas,jdbcType=BIGINT}, #{item.gasPrice,jdbcType=BIGINT}, #{item.sendAddress,jdbcType=VARCHAR}, #{item.receiveAddress,jdbcType=VARCHAR}, #{item.value,jdbcType=BIGINT}, #{item.data,jdbcType=VARCHAR},#{item.timestamp,jdbcType=TIMESTAMP}, #{item.txType,jdbcType=VARCHAR})
	  </foreach>  
  </insert>
 
</mapper>